@{
    ViewData["Title"] = "Home Page";
}
<head>
        <link rel="stylesheet" href="~/css/Index.css"/>
    </head>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div class="row">
        <div class="col-lg-12 ">
            <div class="banner_image">
                <center>
                    <div class="jaat">
                        <h1>We sell lifestyle</h1>
                        <h3>Flat 40% off on Premium brands</h3>
                        <div class="form-group">
                            <input type="submit" value="Explore" class="btn btn-success" onclick="location.href='@Url.Action("ProductList", "Product")'" />
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>

