@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Index.css"/>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="row">
    <div class="col-lg-12 ">
        <div class="banner_image">
            <center>
                <div class="jaat">
                    <h1>We sell lifestyle</h1>
                    <h3>Flat 40% off on Premium brands</h3>

                    @*<div class="image">
                        <img src="~/Images/sneakers3.jpg" />
                    </div>*@
                </div>
            </center>
        </div>
    </div>
</div>