@model FrontendEcom.Models.AssignRoleModel

@{ ViewBag.Title = "AssignRole"; }

<head>
    <link rel="stylesheet" href="~/css/AssignRole.css" />
</head>
<div class="row justify-content-md-center">
    <link rel="stylesheet" href="~/css/site.css" />
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Registration Type</h4>
            </div>
            <br/>
        <center>
            <div class="form-group">
                <input type="submit" value="Continue as a Seller" class="btn btn-success" onclick="location.href='@Url.Action("RegisterSeller", "Register")'" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create as a Customer" class="btn btn-success" onclick="location.href='@Url.Action("RegisterCustomer", "Register")'" />
            </div>
        </center>
        </div>
    </div>
</div>