@model FrontendEcom.Models.AssignRoleModel

@{ ViewBag.Title = "AssignRole"; }

<head>
    <link rel="stylesheet" href="~/css/AssignRole.css" />
</head>
<div class="row justify-content-md-center">
    <link rel="stylesheet" href="~/css/site.css" />
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Entry Type</h4>
            </div>
           
            <div class="card-body">
                <p>
                    @Html.ActionLink("Register as a Customer", "RegisterCustomer")
                </p>
                <p>
                    @Html.ActionLink("Register as a Seller", "RegisterSeller")
                </p>
                <style>
                    a {
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                </style>
            </div>
        </div>
    </div>
</div>