@model FrontendEcom.Models.SellerRegistration

@{ ViewData["Title"] = "RegisterSeller"; }
<head>
    <link rel="stylesheet" href="~/css/RegisterSeller.css"/>
</head>
<body class="mainbody">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Seller Registration</h4>
                </div>
                <form asp-action="RegisterSeller">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Gst" class="control-label"></label>
                            <input asp-for="Gst" class="form-control" />
                            <span asp-validation-for="Gst" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CompanyContact" class="control-label"></label>
                            <input asp-for="CompanyContact" class="form-control" />
                            <span asp-validation-for="CompanyContact" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CompanyName" class="control-label"></label>
                            <input asp-for="CompanyName" class="form-control" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}