@model FrontendEcom.Models.ProductTable

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>YakshLifestyleStore</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/template/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/template/assets/css/tooplate-main.css">
    <link rel="stylesheet" href="~/template/assets/css/owl.css">
  

</head>

<body>

    <!-- Page Content -->
    <!-- Items Starts Here -->
    <div class="featured-page">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h1>Featured Items</h1>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div id="filters" class="button-group">
                        <button class="btn btn-primary" data-filter="*">All Products</button>
                        <button class="btn btn-primary" data-filter=".new">Newest</button>
                        <button class="btn btn-primary" data-filter=".low">Low Price</button>
                        <button class="btn btn-primary" data-filter=".high">Hight Price</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="featured container no-gutter">

        <div class="row posts">
            <div id="1" class="item new col-md-4">
                <a href="single-product.html">
                    <div class="featured-item">
                        <img src="~/Template/assets/images/product-01.jpg" alt="">
                        <h4>Levi's Denim Jeans</h4>
                        <h6>Rs 1500</h6>
                    </div>
                </a>
            </div>
            <div id="2" class="item high col-md-4">
                <a href="single-product.html">
                    <div class="featured-item">
                        <img src="~/Template/assets/images/product-02.jpg" alt="">
                        <h4>Allen Solly Denim Jeans</h4>
                        <h6>Rs 2500</h6>
                    </div>
                </a>
            </div>
            <div id="3" class="item low col-md-4">
                <a href="single-product.html">
                    <div class="featured-item">
                        <img src="~/Template/assets/images/product-03.jpg" alt="">
                        <h4>HRX Jacket</h4>
                        <h6>Rs 3500</h6>
                    </div>
                </a>
            </div>
            <div id="4" class="item low col-md-4">
                <a href="single-product.html">
                    <div class="featured-item">
                        <img src="~/Template/assets/images/product-04.jpg" alt="">
                        <h4>Converse Shoes</h4>
                        <h6>Rs 4500</h6>
                    </div>
                </a>
            </div>
            <div id="5" class="item new high col-md-4">
                <a href="single-product.html">
                    <div class="featured-item">
                        <img src="~/Template/assets/images/product-05.jpg" alt="">
                        <h4>D&G Purse</h4>
                        <h6>Rs 55000</h6>
                    </div>
                </a>
            </div>
            <div id="6" class="item new col-md-4">
                <a href="single-product.html">
                    <div class="featured-item">
                        <img src="~/Template/assets/images/product-06.jpg" alt="">
                        <h4>Gucci</h4>
                        <h6>Rs 65000</h6>
                    </div>
                </a>
            </div>
            <div id="7" class="item new high col-md-4">
                <a href="single-product.html">
                    <div class="featured-item">
                        <img src="~/Template/assets/images/product-03.jpg" alt="">
                        <h4>HRX Jacket</h4>
                        <h6>Rs 7500</h6>
                    </div>
                </a>
            </div>
            <div id="8" class="item low new col-md-4">
                <a href="single-product.html">
                    <div class="featured-item">
                        <img src="~/Template/assets/images/product-02.jpg" alt="">
                        <h4>KILLER Denim Jeans</h4>
                        <h6>Rs 8500</h6>
                    </div>
                </a>
            </div>
            <div id="9" class="item new col-md-4">
                <a href="single-product.html">
                    <div class="featured-item">
                        <img src="~/Template/assets/images/product-01.jpg" alt="">
                        <h4>UCB Denim Jeans</h4>
                        <h6>Rs 9500</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="page-navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li class="current-page"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Featred Page Ends Here -->

    <!-- Footer Starts Here -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
                <div class="col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/signup"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Ends Here -->
    <!-- Sub Footer Starts Here -->
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text">
                        <p>
                            Copyright &copy; YakshLifestyleStore

                            - Design: <a rel="nofollow" href="https://www.facebook.com/">SHOPNOW</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sub Footer Ends Here -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="~/Template/assets/js/custom.js"></script>
    <script src="~/Template/assets/js/owl.js"></script>
    <script src="~/Template/assets/js/isotope.js"></script>


</body>

</html>